<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>491575436888-gp3boorape6hl0u8ckkanju9smhkkeh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491575436888-gp3boorape6hl0u8ckkanju9smhkkeh3</string>
	<key>API_KEY</key>
	<string>AIzaSyDzFUa6jr0ugx9piRc7WlC48EE71EIrEeU</string>
	<key>GCM_SENDER_ID</key>
	<string>491575436888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.turncastapp.turncast</string>
	<key>PROJECT_ID</key>
	<string>turncast-7bd0e</string>
	<key>STORAGE_BUCKET</key>
	<string>turncast-7bd0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491575436888:ios:921dde4bb19535a0</string>
	<key>DATABASE_URL</key>
	<string>https://turncast-7bd0e.firebaseio.com</string>
</dict>
</plist>